body {
  background: #191919;
  color: #fff;
}

header {
  text-align: center;
  margin: 150px 0;
}

footer {
  text-align: center;
  margin: 30px 0;
}

.gitLink {
  color: #86cebd;
  text-decoration: none;
}

.gitLink:hover {
  color: #70ad9e;
}

@media (max-width: 767px) {
  header {
    margin: 50px 0px;
  }
}
